
html, body {
  width: 100%; height: 100%; margin: 0; padding: 0;
}

body {
  overflow: hidden;
  background-color: white;
}

.site-info {
  position: absolute; top: 12px; left: 12px;
  padding: 10px;
  max-width: 300px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}
  .site-title {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .site-description {
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;

    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .site-directions {
    margin-top: 12px;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.4;

    -webkit-transition: all 1s;
    transition: all 1s;
  }

.subsidiaries {
  position: absolute; bottom: 12px; right: 12px;
  padding: 10px;
  max-width: 300px;
  font-size: 14px; line-height: 1.25;
  background-color: white;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  z-index: 1000;

  -webkit-transition: all 1s;
  transition: all 1s;
}
  .subsidiaries a {
    color: rgba(255, 0, 130, 0.87);
    text-decoration: none;
  }
    .subsidiaries a:hover, .subsidiaries a:focus {
      text-decoration: underline;
    }

.social {
  position: absolute; top: 12px; right: 12px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}
  .social-button {
    padding: 5px;
    text-align: right;
  }

.not-chrome-fallback {
  margin: 50px;
  padding: 20px;
  max-width: 600px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Times New Roman", serif;
  box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);

  display: none;
  opacity: 0;

  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}
  .not-chrome-fallback a {
    color: rgba(255, 0, 130, 0.87);
    text-decoration: none;
  }
    .not-chrome-fallback a:hover, .not-chrome-fallback a:focus {
      text-decoration: underline;
    }

  .not-chrome-message {
    font-size: 18px;
    line-height: 1.4;
  }

  .not-chrome-fallback ul {
    list-style: none;
    font-size: 16px;
    margin: 0; padding: 0;
  }

    .not-chrome-fallback ul li {
      margin: 15px 5px;
    }

.area-marker {
  position: absolute;
  width: 240px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
  #bourne-1-marker {
    top: 10px;
    left: 50%; margin-left: -120px;
  }
  #bourne-2-marker {
    bottom: 10px;
    left: 10px;
  }
  #bourne-3-marker {
    bottom: 10px;
    right: 10px;
  }
  #bourne-mixed-marker {
    left: 50%; margin-left: -120px;
    top: 50%;
  }

.token-description {
  position: fixed;
  top: 10px; right: 0;
  width: 600px;
  text-align: center;

  font-family: sans-serif;
  font-size: 72px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.1);

  z-index: 1000000;
}

.token-link {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 42px; height: 42px;
  border-radius: 2px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-transition: transform 500ms;
  transition: transform 500ms;
}
  .token-link:hover {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }

.continuous-link {
  background-color: rgb(255, 75, 37);
  box-shadow: 1px 1px 5px 2px rgba(255, 75, 37, 0.6);
}

.continuous-fades-link {
  background-color: rgb(37, 255, 150);
  box-shadow: 1px 1px 5px 2px rgba(37, 255, 150, 0.6);
}

.continuous-short-clips-link {
  background-color: rgb(94, 37, 255);
  box-shadow: 1px 1px 5px 2px rgba(94, 37, 255, 0.6);
}

.length-pyramid-link {
  background-color: rgb(37, 144, 255);
  box-shadow: 1px 1px 5px 2px rgba(37, 144, 255, 0.6);
}

.volume-pyramid-link {
  background-color: rgb(255, 37, 122);
  box-shadow: 1px 1px 5px 2px rgba(255, 37, 122, 0.6);
}

.length-sequences-link {
  background-color: rgb(255, 240, 37);
  box-shadow: 1px 1px 5px 2px rgba(255, 240, 37, 0.6);
}

.bourne_1_1-link, .bourne_2_1-link, .bourne_3_4_fight-link {
  background-image: url('/media/home/knife1.png');
}

.bourne_1_2-link, .bourne_2_4-link, .bourne_3_6-link {
  background-image: url('/media/home/chase-1.png');
}

.bourne_1_3-link, .bourne_3_4-link {
  background-image: url('/media/home/knife-2.png');
}

.bourne_1_4-link, .bourne_2_2-link, .bourne_3_1-link {
  background-image: url('/media/home/run-1.png');
}

.bourne_1_5-link, .bourne_fight-link {
  background-image: url('/media/home/knife-3.png');
}

.bourne_3_3-link {
  background-image: url('/media/home/run-2.png');
}

.bourne_3_4_run-link, .bourne_run-link {
  background-image: url('/media/home/run-3.png');
}

.bourne_1-link {
  background-image: url('/media/home/mixed-1.png');
}

.bourne_2-link {
  background-image: url('/media/home/mixed-2.png');
}

.bourne_3-link {
  background-image: url('/media/home/mixed-3.png');
}

.bourne_chase-link {
  background-image: url('/media/home/chase-3.png');
}

.bourne-link {
  background-image: url('/media/home/mixed-4.png');
}
